html, body, header, #intro{
	height: 100%;
}

h1, h2, h3, h4, h5, h6{
/*	font-family: 'Dancing Script', cursive;*/
	font-family: 'Comfortaa', cursive;
}

span{
	font-family: 'Dancing Script', cursive;
}


.btn_c {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
	border: solid 1px white;
	color: white;
}

.btn_c:hover {
  background-color: indianred;
  color: white;
}

.ul_c li a{
	-webkit-transition-duration: 0.2s; /* Safari */
  	transition-duration: 0.2s;
}

.ul_c li a:hover{
	border-bottom: 1px solid red;
}

#intro{
	background: url(../img/bg_privil.jpg) no-repeat center top / cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.top-nav-collapse{
	background-color: black;
}

@media (max-width: 768px) {
	.navbar: not(.top-nav-collapse){
		background-color:  #24355c;
	}
}


/*ARRAY*/

.arrow-7 {
    margin: 30px;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}




.color_1{
	background-color: red;
}


.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

hr{
	background-color: indianred;
}

.c_h{
	color: indianred;
}


/*preloader*/


#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #635F52;
background: -webkit-linear-gradient(top left, #635F52, #1B1212);
background: -moz-linear-gradient(top left, #635F52, #1B1212);
background: linear-gradient(top left, #635F52, #1B1212);;
z-index: 30;
}
 
.contpre small{font-size:25px;}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;
}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(images/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;
}

.frame {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  color: #fff;
}

.center {
  	position: absolute;
 	width: 220px;
  	height: 220px;
  	top: 90px;
  	left: 90px;
}

.dot-1 {
  	position: absolute;
	  z-index: 3;
	  width: 30px;
	  height: 30px;
	  top: 95px;
	  left: 95px;
	  background: #fff;
	  border-radius: 50%;
	  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
	  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
			  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
	  position: absolute;
	  z-index: 2;
	  width: 60px;
	  height: 60px;
	  top: 80px;
	  left: 80px;
	  background: #fff;
	  border-radius: 50%;
	  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
	  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
			  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
	  position: absolute;
	  z-index: 1;
	  width: 90px;
	  height: 90px;
	  top: 65px;
	  left: 65px;
	  background: #fff;
	  border-radius: 50%;
	  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
	  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
			  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@-webkit-keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}






/***************
	HAIRCUT
****************/

#intro_hair{
	background: url(../img/haircut_privilege.png) no-repeat fixed top / cover;
	height: 100%;
}

.header_hair{
	height: 50%;
}


/****************
	TRIHOLOGIA
*****************/

.header_trihologia{
	height: 50%;
}

#intro_trigologia{
	background: url(../img/trih_2.jpg) no-repeat fixed top / cover;
	height: 100%;
}

/****************
	KOSMETOLOGIA
*****************/

.header_kosmetologia{
	height: 50%;
}

#intro_kosmetologia{
	background: url(../img/kosmetologia_privilege.png) no-repeat fixed top / cover;
	height: 100%
}

/*****************
	NAILS
*******************/

.header_nails{
	height: 50%;
}

#intro_nails{
	background: url(../img/nails_privilege.png) no-repeat fixed top / cover;
	height: 100%;
}

/*******************
	DEPILYACIA
*******************/

.header_depilyac{
	height: 50%;
}

#intro_depilyac{
	background: url(../img/Depilyacia_privilege.png) no-repeat fixed top / cover;
	height: 100%;
}

/********************
	CONTACTS
*********************/

.header_contact{
	height: 50%;
}

#intro_contact{
	background: url(../img/enter_salon.png) no-repeat fixed top / cover;
	height: 100%;
}