.body_index, .header_index, #intro{
	height: 100vh;
}

.navbar-expand-lg{
	transition: all ease 500ms;
}

h1, h2, h3, h4, h5, h6{
/*	font-family: 'Dancing Script', cursive;*/
	font-family: 'Comfortaa', cursive;
}

span{
	font-family: 'Great Vibes', cursive;
}

.wow {
  visibility: hidden;
}

.btn_c {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
	border: solid 1px white;
	color: white;
	
}

.btn_c:hover {
	background: palegoldenrod;
	color: black;
}


#intro{
	background: url(../img/bg_privil.jpg) no-repeat center fixed / cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.top-nav-collapse{
	background-color: black;
}

@media (max-width: 768px) {
	.navbar: not(.top-nav-collapse){
		background-color:  #24355c;
	}
}


/*ARRAY*/

.arrow-7 {
    margin: 30px;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


.color_1{
	background-color: red;
}


.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

hr{
	background-color: black;
}

.c_h{
	color: black;
}


/*preloader*/


#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #fff;
background: -webkit-linear-gradient(top left, #fff, #fff);
background: -moz-linear-gradient(top left, #fff, #fff);
background: linear-gradient(top left, #fff, #fff);;
z-index: 30;
}
 

.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#000;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;
}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(images/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;
}

.frame {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  color: #000;
}

.center {
  	position: absolute;
 	width: 220px;
  	height: 220px;
  	top: 90px;
  	left: 90px;
}

.dot-1 {
  	position: absolute;
	  z-index: 3;
	  width: 30px;
	  height: 30px;
	  top: 95px;
	  left: 95px;
	  background: #000;
	  border-radius: 50%;
	  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
	  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
			  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
	  position: absolute;
	  z-index: 2;
	  width: 60px;
	  height: 60px;
	  top: 80px;
	  left: 80px;
	  background: #000;
	  border-radius: 50%;
	  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
	  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
			  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
	  position: absolute;
	  z-index: 1;
	  width: 90px;
	  height: 90px;
	  top: 65px;
	  left: 65px;
	  background: #000;
	  border-radius: 50%;
	  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
	  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
			  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@-webkit-keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


strong{
	color: red;
}



/****************
	HAIRCUT
*****************/

#intro_haircut{
	height: 100vh;
	background: url(../img/haircut_privilege.png) no-repeat center fixed / cover;
	-webkit-background-size: cover;
	background-size: cover;
}


/****************
	TRIHOLOGIA
*****************/

#intro_trihologia{
	height: 100vh;
	background: url(../img/trih_2.jpg) no-repeat center fixed / cover;
	-webkit-background-size: cover;
	background-size: cover;
}

/****************
	KOSMETOLOGIA
*****************/

.header_kosmetologia{
	height: 50%;
}

#intro_kosmetologia{
	background: url(../img/kosmetologia_privilege.png) no-repeat fixed top / cover;
	height: 100%
}

/*****************
	NAILS
*******************/

.header_nails{
	height: 50%;
}

#intro_nails{
	background: url(../img/nails_privilege.png) no-repeat fixed top / cover;
	height: 100%;
}

/*******************
	DEPILYACIA
*******************/

.header_depilyac{
	height: 50%;
}

#intro_depilyac{
	background: url(../img/Depilyacia_privilege.png) no-repeat fixed top / cover;
	height: 100%;
}

/********************
	CONTACTS
*********************/

.pf_c{
	margin-top: 200px;
}

/**********************
	HAIRCUT MASTERS
***********************/

.hm_p{
	height: 100;
}

.inst_c:hover{
	color: indianred;
}

.vk_c:hover{
	color: dodgerblue
}



/* Hamburger */

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #e65100;
}

.animated-icon2 span {
background: #e3f2fd;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}